<hr />
<ul class='list-group'>
  <div *ngFor="let diaryItem of diaryItems, let i = index" class="diarydetail">
  <li class='list-group-item d-flex align-items-center'>
      
  <h4>{{
    diaryItem.title
  }}  </h4>
  <br><span class="badge badge-primary badge-info">Duration: {{diaryItem.duration}} hours</span>
</li>
<button (click)='toggleDetails(i)' class='btn btn-primary'>Toggle item details</button>
<app-diary-item-detail *ngIf='diaryItem.showDetails' [diaryItem]='diaryItem' (isComplete)='itemComplete($event, i)'></app-diary-item-detail>
  </div>
</ul>
